# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Flask cache and instance folders
instance/
*.db
*.sqlite3

# VS Code settings (optional, but useful)
.vscode/

# Pytest and coverage
.cache/
*.cover
coverage.*
htmlcov/

# Logs and misc
*.log
*.pot
*.pyc
.DS_Store

# Jupyter
.ipynb_checkpoints/
venv/
